*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
section{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(https://wallpapercave.com/wp/wp7095088.jpg);
    background-position: center center;
    background-size: cover;
}
.box{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #00000047;
    box-shadow: 9px 5px 30px;
    border-radius: 10px;
    padding:50px 100px;
}
.inbox{
    margin-bottom: 20px;
}
.login{
    text-transform: uppercase;
    color: whitesmoke;
    font-style: italic;
    font-family: 'Arial Narrow', Arial, sans-serif;
}
input{
    
    margin-top: 7px;
    padding-top:4px;padding-bottom: 4px;
    padding-left: 12px;padding-right: 12px;
    border-radius: 1.1rem;
}
.control{
    width: 100%;
    background-color: rgba(255, 228, 196, 0.768);
    transition: 0.6s ease;
    box-shadow: 2px 2px 15px;
}
.name, .password{
    color: rgb(250, 239, 193);
    text-transform: capitalize;
    text-decoration:none;
    font-style: italic;
    display: block;
    text-align: left;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.679);
}
a:hover{
    color: rgba(255, 255, 255);
}
a:active{
    color: rgba(255, 0, 0, 0.593);
}
.control:active{
    background-color: rgb(250, 239, 193); 
    transform: scale(0.9);
}
.checkbox{
    color: rgb(250, 239, 193);
    text-transform: capitalize;
    text-decoration:none;
    font-style: italic;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.footer{
    position: fixed;
    bottom: 0px;
    left:45%;
    text-align: center;
    color: rgba(255, 255, 255, 0.57);
}
   
    
